.selectedElementContainer {
  display: inline-block;
  padding: 10px;
  background-color: black;
  color: white;
  margin: 1em 20px 1em 0;
  width: 190px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  position: relative;
}

.selectedElementContainer::after {
  display: block;
  content: '';
  position: absolute;
  top: 8px;
  background-color: white;
  width: 1px;
  height: 24px;
  right: 40px;
}

.selectedElementContainer__close {
  position: absolute;
  height: 100%;
  width: 40px;
  top: 0;
  right: 0;
  cursor: pointer;
}

.selectedElementContainer__close::after,
.selectedElementContainer__close::before,
.popup__close::after,
.popup__close::before {
  content: '';
  position: absolute;
  display: block;
  width: 2px;
  height: 12px;
  background-color: white;
  top: 14px;
  left: 19px;
  cursor: pointer;
}

.selectedElementContainer__close::after, .popup__close::after {
  transform: rotate(30deg);
}

.selectedElementContainer__close::before, .popup__close::before {
  transform: rotate(-30deg);
}