.popup__overflow {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0,0,0,0.2);
}

.popup__container {
  color: #fff;
  position: absolute;
  max-width: 800px;
  width: 95%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #3f3f3f;
  padding: 30px 40px;
  box-sizing: border-box;
  z-index: 11;
}

.popup__close {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 20px;
  right: 25px;
  cursor: pointer;
}

.popup__title {
  margin: 0;
}

.popup__fieldWrapper {
  display: flex;
  flex-direction: row;
  margin-top: 2em;
}

.popup__fieldContainer {
  display: flex;
  flex-direction: row;
  flex: 1 0 0;
}

.popup__fieldContainer:last-child {
  margin-left: 20px;
}

.popup__label {
  line-height: 30px;
  margin-right: 10px;
  font-size: 16px;
}

.popup__inpit {
  line-height: 30px;
  padding: 0 10px;
  font-size: 16px;
  flex: 1;
  box-sizing: border-box;
}

.popup__filter {
  background-color: #fff;
  display: inline-block;
  position: relative;
  list-style: none;
  padding: 0 10px;
  margin: 0;
  box-sizing: border-box;
  flex: 1;
}

.popup__filter:focus {
  border: none;
  outline: none;
}

.popup__option {
  padding: 0 10px;
  line-height: 29px;
  height: 30px;
  font-size: 14px;
  color: black;
  box-sizing: border-box;
  cursor: pointer;
}

.popup__option.dropped {
  border-bottom: 1px solid #e4e1e1;
}

.popup__option.current {
  display: none;
}

.popup__dropdown {
  position: absolute;
  margin: 0;
  list-style: none;
  padding: 0 10px;
  width: 100%;
  top: 100%;
  left: 0;
  background-color: #fff;
  z-index: 15;
  box-sizing: border-box;
}

.popup__innerContainer {
  padding: 10px 30px;
  background-color: #000;
  position: relative;
  overflow: auto;
  height: 46vh;
  margin: 30px 0;
}

.popup__elements {
  margin: 20px 0;
}

.popup_checkbox {
  display: inline-block;
  width: 17px;
  height: 17px;
  background-color: white;
  margin-right: 10px;
  vertical-align: middle;
  cursor: pointer;
}

.popup_checkboxLabel {
  font-size: 16px;
  line-height: 25px;
  cursor: pointer;
}

.popup_checkboxLabel.disable, .popup_checkbox.disable {
  cursor: not-allowed;
  color: #aaa;
}

.popup_checkbox.selected {
  background-image: url(./check.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
}

.popup_checkboxLabel.selected {
  cursor: pointer;
  color: #fff;
}

.popup__text {
  margin: 0;
}

.popup__button {
  display: inline-block;
  background-color: #778c03;
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  margin-right: 20px;
  color: #fff;
  width: 150px;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  margin-top: 1em;
}
