body {
    margin: 0;
}
h1 {
    font-size: 24px;
    text-align: center;
}
h5 {
    font-size: 18px;
    color: #808080;
}
.test {
    padding: 50px;
}
.test1 {
    background-color: #ccc;
}
.test1__container {
    width: 100%;
    margin-bottom: 8px;
} 
.test1__field {
    font-size: 16px;
    line-height: 20px;
    padding: 10px 40px;
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    width: 100%;
    border: none;
    border-radius: 3px;
}
.test1__inputWrapper {
    padding-right: 8px;
    position: relative;
}
.test1__inputWrapper::before {
    display: block;
    position: absolute;
    left: 10px;
    top: 10px;
    height: 20px;
    width: 20px;
    content: "";
    background: url('./loop.svg') center no-repeat;
    background-size: 100%;
}
.test1__inputReset {
    position: absolute;
    right: 18px;
    top: 10px;
    height: 20px;
    width: 20px;
    background: url('./close.svg') center no-repeat;
    background-size: 100%;
    cursor: pointer;
    display: none;
}
.test1__field:valid + .test1__inputReset {
    display: block;
}
.test1__submit {
    padding: 10px 20px;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    box-sizing: border-box;
    border: none;
    background-color: #eaeaea;
    cursor: pointer;
}

.test1__container__way1 {
    display: table;
}
.test1__inputWrapper__way1 {
    display: table-cell;
    width: 100%;
}
.test1__submit__way1 {
    display: table-cell;
}

.test1__container__way2 {
    display: flex;
}
.test1__inputWrapper__way2 {
    flex: 1;
}
.test1__submit__way2 {
    display: inline-block;
}

.test2 {
    background-color: #eee;
}
.test2__ul {
    padding: 0;
    list-style: none;
}
.test2__menuText {
    padding: 10px 12px;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    text-transform: capitalize;
    color: #707275;
}
.test2__li {
    display: inline-block;
    margin-right: 10px;
    transition: color 0.3s, background-color 0.3s;
}
.test2__li:last-child {
    margin-right: 0px;
}
.test2__li.active {
    background-color: #707275;
    color: #fff;
    border-radius: 5px;
}
.test2__menu {
    display: none;
}
.test2__menuContainer {
    position: relative;
}
.test2__menuContainer:focus {
    outline: none;
    border: none;
}

.test3__colums {
    -webkit-column-count:2;
    column-count:2;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    -moz-column-rule: 1px solid #808080;
    -webkit-column-rule: 1px solid #808080;
    column-rule: 1px solid #808080;
    color: #808080;
}
.test3__ol {
    counter-reset: myCounter;
    padding-left: 10px;
    line-height: 24px;
}
.test3__li {
    list-style: none;
    color: #4d4e53;
}
.test3__li::before {
    display: inline-block;
    counter-increment: myCounter;
    content:counter(myCounter)".";
}
.test3__liText {
    color: #808080;
    margin: 0 0 0 20px;
}
.test3__olText {
    text-indent: 20px;
}

@media (max-width: 800px) {
    .test {
        padding: 20px;
    }
    .test2__menuContainer {
        display: inline-block;
    }
    .test2__menu {
        padding: 10px 14px 10px 38px;
        display: block;
        opacity: 1;
        z-index: 1;
        background-color: #fff;
        transition: opacity 0.3s;
        position: absolute;
    }
    .test2__menu::before {
        display: block;
        content: "";
        background: url('./menu.svg') center no-repeat;
        background-size: auto 100%;
        position: absolute;
        top: 10px;
        left: 12px;
        height: 20px;
        width: 17px;
    }
    .test2__menuContainer:focus .test2__menu {
        z-index: -1;
        opacity: 0;
    }
    .test2__li {
        padding-left: 40px;
        margin: 0;
        display: block;
    }
    .test2__li.active {
        background-color: transparent;
        color: #353536;
        position: relative;
    }
    .test2__li.active::before {
        display: block;
        content: "";
        background: url('./arrow.svg') center no-repeat;
        background-size: 100%;
        position: absolute;
        top: 10px;
        left: 12px;
        height: 20px;
        width: 20px;
    }
    .test2__ul {
        position: relative;
        background-color: #fff;
        height: 40px;
        overflow: hidden;
        display: inline-block;
        margin: 0;
        opacity: 0;
        transition: max-height 0.3s, opasity 0.5s;
    }
    .test2__menuContainer:focus .test2__ul {
        height: auto;
        opacity: 1;
    }
}
